$tablet: 600px;
$navbar-breakpoint: $tablet;
$hero-button-bg: rgba(255,255,255,0.3);
$tabs-link-color: white;
$tabs-link-hover-color: white;
$tabs-toggle-link-active-background-color: $hero-button-bg;
$tabs-toggle-link-hover-background-color: $hero-button-bg;
$tabs-toggle-link-border-color: white;
$tabs-toggle-link-active-border-color: white;
$tabs-toggle-link-hover-border-color: white;

@import '~bulma/bulma.sass';
@import './audioplayer.scss';

html, body {
    min-height: 100vh;
}

body {
  background-image: linear-gradient(-134deg, #C182DC 0%, #FB7C62 94%, #FF7C5B 100%);
  background-attachment: fixed;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.is-hero-button {
  text-decoration: none !important;
}

.is-hero-button,
.is-mixed-button {
  &:hover,
  &.is-hovered,
  &:focus,
  &.is-focused,
  &.router-link-exact-active {
    background-color: $hero-button-bg !important;
    color: white !important;
  }
}

.is-gradient-button:hover,
.is-gradient-button.is-hovered,
.is-gradient-button:focus,
.is-gradient-button.is-focused,
.is-gradient-button {
  border: 0;
  background-image: linear-gradient(-134deg, #C182DC 0%, #FB7C62 94%, #FF7C5B 100%);
  color: white;
}

@include until($tablet) {
  .is-mixed-button:hover,
  .is-mixed-button.is-hovered,
  .is-mixed-button:focus,
  .is-mixed-button.is-focused,
  .is-mixed-button {
    border: 0;
    background-image: linear-gradient(-134deg, #C182DC 0%, #FB7C62 94%, #FF7C5B 100%);
    color: white;
  }
}

nav, .hero-foot {
  a:not(.button) {
    color: white !important;
  }

  a:hover:not(.button) {
      text-decoration: underline;
  }

  a.router-link-exact-active:not(.button) {
    text-decoration: underline;
  }

  @include until($tablet) {
    .navbar-menu a:not(.button) {
      color: black !important;
    }
  }
}

.hero-foot {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

.navbar-burger {
    width: 5rem;
    height: 5rem;
}

.dapp-box {
  max-width: 500px;
  margin: auto;
  border-radius: 24px;
}

.input-song-tag {
  position: absolute; top: 10px; right: 14px; z-index: 999; width: 80px;
}

.table td, .table th {
    border: 1px solid #f5f5f5;
    border-width: 0 0 2px;
    padding: 0.5em 0;
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.colored-toast .swal2-loader {
  border-color: white transparent white transparent;
}
